.appbar{
  height: 75px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
  background-color: var(--background-paper)!important;
  .toolbar{
      background-color: var(--background-paper);
      width: 1500px;
      color: var(--background-contrastText);
      font-weight: bold;
      button{
        text-transform: none;
        font-weight: inherit;
        color: inherit;
      }
      .logo {
          padding-left: 20px;
          padding-right: 20px;
          .logo-bg {
             height:140px;
          }
      }
      .appbar-right-menu{
          margin-left: auto !important;
      }
      .element{
          padding-left: 15px;
          padding-right: 15px;
      }
  }
 
}

