.appbar{
  height: 75px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
  .toolbar{
      width: 1520px;
      .logo {
          padding-left: 20px;
          padding-right: 20px;
          .logo-bg {
             height:140px;
          }
      }
      .appbar-right-menu{
          margin-left: auto !important;
      }
      .element{
          padding-left: 15px;
          padding-right: 15px;
      }
  }
 
}

