
.button-login-register
{
  margin-left: auto;
}
.button-register{
  color: orange;
}
.form-element{
  border-radius: 5%;
  padding: 10px;
}

.form-button{
  border-radius: 5%;
  padding: 10px;
}

.policy {
  p {
      text-align: center;
      .link-policy {
          color: var(--blue-link);
      }
  }
}
.link-policy {
  color: blue
}