// .container_range {
//   min-height: 10vh;
//   width: "100%";
//   padding-right: "30px";
//   padding-left: "30px";
//   .track_slider {
//     // position: relative;
//     // background: #000;
//     width: 100%;
//     max-width: 500px;
//     height: 100vh;
//     margin: auto;
//     .track_slider-1 {
//       background-color: #ddd;
//     }
//   }
//   .slider {
//     width: 100%;
//     height: 5px;
//     background-color: #42a5f5;
//     margin-top: 20px;
//     // .thumb_slider {
//     //   background-color: #000;
//     // }

//     .thumb {
//       width: 23px;
//       height: 23px;
//       cursor: grab;
//       background: #fff;
//       border-radius: 50%;
//       border: 2px solid #275efe;
//       top: -10px;
//     }
//     .track-1 {
//       background-color: #275efe;
//     }
//   }

//   .show-rang__price {
//     display: flex;
//     justify-content: center;
//     margin-top: 5px;

//     .input-pricerange {
//       padding: 8px 10px 8px 20px;
//       margin-right: 10px;
//       border-radius: 5px;
//       font-size: 16px;
//     }
//   }
// }
.container_range {
  min-height: 10vh;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}
.show-rang__price {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.show-rang__price .input-pricerange {
  padding: 5px 20px 5px 20px;
  margin-right: 10px;
  border-radius: 5px;
  width: 250px;
  font-size: 16px;
}

.slider {
  width: 100%;
  height: 5px;
}
.thumb_slider {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.track_slider {
  position: relative;
  background: #ddd;
}
.track_slider.track_slider-0 {
  background: #83a9ff;
}
.slider .track_slider {
  top: 20px;
  height: 4px;
}
.slider .thumb_slider {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
