.form-dialog{
  width: 400px;
  border: radius 10px;
    .form-button{
      height: 45px;
  
    }
    .form-element{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .form-button{
      padding: 10px;
      height: 45px;
    } 
    .code-input{
      display: flex;
      justify-content: center;
      align-items: center;
    

    }
  }