@use '../../assets/css/responsive.scss';
.background__frame-page {
    background-color: var(--background-default);
    color: var(--background-contrastText);
}
.body-page {
    color: var(--background-contrastText);
    background-color: var(--background-default);
    align-items: center;
    max-width: 1500px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 75px;
    display: block;
    height: max-content;
    @include responsive.laptop {

    }
    @include responsive.tablet {
    }
    @include responsive.mobile-small {
    }

    @include responsive.mobile-medium {
    }

    @include responsive.mobile-large {
    }
}