.dialog__imgs {
    .container__imgs {
        text-align: center;
        .img {
            width: 65%;
            margin-bottom: 30px;
            max-height: 500px;
            object-fit: cover;
        }
    }
}
