.form-search {
  height: 100px;
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .container {
    position: static;
    width: 1520px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fixed-search {
      margin-top: 0;
    }
    .row {
      align-items: center;
    }

    .address {
      padding: 10px;
      height: 20px;
      min-width: 400px;
    }

    .date {
      padding: 10px;
      height: 20px;

    }

    .submit-button {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
    }

    .submit-button:hover {
      background-color: #0056b3;
    }

    .ant-picker.ant-picker-range.css-dev-only-do-not-override-amq5gd {
      background-color: inherit;

      /* Màu nền */
      input {
        color: "#fff"
      }
    }
  }

}