.form-main{
  position: relative;
  margin: auto;
  height: 70%;
  width: 70%;
  padding: 50px;
  border-radius: 10px; /* Độ cong của góc */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Hiệu ứng viền mờ */
  /* margin-top: -100px;
  z-index: 9999;  */
  
}
.search-hotel{
    height: 100%;
    width: 100%;
    border: #0056b3;
}
.form-search{
    height: 100%;
    width: 60%;
    margin: auto;
    border: #0056b3;
}
.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  .container {
    display: grid; /* Sử dụng CSS Grid */
    grid-template-columns: 1fr 1fr; /* Chia thành hai cột bằng tỷ lệ 1:1 */
    gap: 20px; /* Khoảng cách giữa các cột */
  }
  
  .column {
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  label {
    font-weight: bold;
  }
  .input-1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .input-2 {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .select-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  