/* Dialog xuất hiện từ dưới */
.dialog-enter {
    transform: translateY(100%);
    opacity: 0;
  }
  
  .dialog-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 300ms ease-in;
  }
  
  .dialog-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .dialog-exit-active {
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease-in;
  }
  
  /* Các lớp khác bạn muốn thêm */
  