
.button-login-register
{
  margin-left: auto;
}
.button-register{
  color: orange;
}
.form-element{
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-button{
  border-radius: 5%;
  padding-bottom: 20px;
  width: auto;
  height: 35px;
}

.policy {
  p {
      text-align: center;
      .link-policy {
          color: var(--blue-link);
      }
  }
}

h4{
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-line {
  flex: 1;
  border-bottom: 1px solid ; /* Màu của đường gạch ngang */
  margin: 0 10px; /* Khoảng cách giữa đường gạch và chữ */
}
.form-dialog{
  width: 450px;
  border: radius 10px;
  .form-button{
    height: 45px;

  }
}