.card-info {
    border-radius: 7px;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    .user-info {
      align-items: center;
      padding: 12px;
      display: flex;
      .MuiAvatar-root {
        width: 75px;
        height: 75px;
      }
      .user-details {
        padding-left: 5px;
        word-wrap: break-word;

        .user-name {
          font-size: large;
          margin-bottom: 10px;
          margin-top: 0px;
        }
        .user-email {
          font-size: smaller;
        }
      }
    }
    .options-card{
      height: 300px;
      padding-top: 10px ;
      .option{
        color: var(--mui-palette-mainColor-contrastText);
        font-size: medium;
        font-weight: 600;
        display: flex;
        position: relative;
        padding-top: 15px;
        text-decoration: auto;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        .option-icon{
          color: var(--mui-palette-info-main);
          padding-right: 10px;
        }
       
      }
      .option:hover{
        background-color: var(--mui-palette-background-default);
        color: var(--mui-palette-info-main);
      }
    }
    
  }