.convenient-item {
    padding-right: 60px;
    margin-bottom: 4px;
    .title-item {
        margin-bottom: 10px;
        h1 {
            font-size: x-large;
            margin-bottom: 5px;
        }

        span {
            font-size: 1.2rem;
        }
    }
    .container{
        flex-wrap: wrap;
        width: 1000px;
        word-wrap: break-word;
        .item {
            display: flex;
            justify-content: space-between;
            justify-items: center;
            margin-left: 30px;
            width: 400px;
            // padding: 5px 0;
    
            p {
                font-size: large;
                font-weight: 500;
            }
        }
    }
   
}
